body {
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  scroll-behavior: smooth;
}

.zoom {
  transition: transform 0.4s ease;
}

.zoom:hover {
  transform: scale(1.05);
  z-index: 10;
}

.navbar {
  backdrop-filter: blur(8px);
  transition: background-color 0.3s;
}

.section-light {
  background-color: #f9f9f9;
  color: #212529;
}

.section-dark {
  background-color: #1a1a1a;
  color: #f9f9f9;
}

.toggle-dark-mode {
  top: 20px;
  right: 20px;
  z-index: 9999;
}

/* Quando o tema for escuro, deixa o botão claro, e vice-versa */
[data-bs-theme="dark"] .toggle-dark-mode {
  background-color: #1a1a1a;
  color: #f8f9fa;
  border: 1px solid #ccc;
}

[data-bs-theme="light"] .toggle-dark-mode {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #ddd;
}
